.text-center{
    text-align: center;
}
.mb-s{
    margin-bottom: 2rem;
}
.mb-m{
    margin-bottom: 4rem;
}
.mb-b{
    margin-bottom: 8rem;
}
.mt-m{
    margin-top: 8rem;
}
.mt-b{
    margin-top: 10rem;
}
.mt_b {
    margin-top: 10rem ;
}

